<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">Cliente</span>
                    <form class="mt-3" [formGroup]="clientForm" (ngSubmit)="addClient()">
                        <div class="mb-3">
                            <input type="text" formControlName="name" class="form-control form-control-lg"
                                placeholder="name">
                            <div class="text-danger"
                                *ngIf="clientForm.get('name')?.hasError('required') && clientForm.get('name')?.touched">
                                <span>El nombre del producto <strong>es obligatorio</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="phoneNumber" class="form-control form-control-lg"
                                placeholder="phoneNumber">
                            <div class="text-danger"
                                *ngIf="clientForm.get('phoneNumber')?.hasError('required') && clientForm.get('phoneNumber')?.touched">
                                <span>El numero de telefono  <strong>es obligatoria</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="email" class="form-control form-control-lg"
                                placeholder="email">
                            <div class="text-danger"
                                *ngIf="clientForm.get('email')?.hasError('required') && clientForm.get('email')?.touched">
                                <span>El email <strong>es obligatoria</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <button routerLink="/" class="btn btn-secondary btn-lg float-start">VOLVER</button>
                            <button type="submit" [disabled]="clientForm.invalid" class="btn btn-success btn-lg float-end">ACEPTAR</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>